.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $bgcolor;
  &__link {
    display: block;
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.header-about {
  background: $bgcolor;
  padding-bottom: 0px;
  height: 100%;
  /*title-Start*/
  &__title {
    text-align: center;
    font-weight: 700;
    font-family: 'Museo Sans Cyrl';
    span {
      color: $mainColor;
    }
    @include media(576px) {
      margin-top: 50px;
      font-size: 40px;
    }
  }
  &__text {
    text-align: center;
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    opacity: 0.8;
    span {
      color: #a20916;
    }
  }
  /*title-End*/
  /*offer-Start*/
  &__wrapper-offer {
    margin-top: 100px;
    justify-content: space-between;
    @include media(992px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include media(576px) {
      margin-top: 50px;
    }
  }
  &__offer {
    padding: 40px;
    width: 55%;
    @include media(992px) {
      width: 100%;
      padding: 0px;
    }
  }
  &__offer-title {
    font-size: 35px;
    text-transform: none;
    max-width: 500px;
    margin-bottom: 25px;
    span {
      color: $mainColor;
    }
    @include media(992px) {
      margin: 0 auto 25px auto;
      text-align: center;
    }
    @include media(576px) {
      font-size: 30px;
    }
  }
  &__offer-text {
    font-size: 18px;
    color: #c8c8c8;
    opacity: 0.8;
    max-width: 450px;
    margin-bottom: 35px;
    @include media(992px) {
      margin: 0 auto 35px auto;
      text-align: center;
    }
    @include media(576px) {
      font-size: 15px;
    }
  }
  &__offer-btn {
    position: relative;
    display: inline;
    font-size: 20px;
    padding: 10px 20px;
    width: 50%;
    border: 3px solid $mainColor;
    border-radius: 4px;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(248, 248, 248, 0.2);
    z-index: 1;
    text-align: center;
    &::before {
      position: absolute;
      content: '';
      width: 0%;
      height: 100%;
      background: #fff;
      top: 0;
      left: 50%;
      z-index: -1;
      transition: all 400ms ease;
    }
    &:hover {
      color: #c8c8c8;
      box-shadow: none;
      &::before {
        width: 100%;
        background: $mainColor;
        top: 0;
        left: 0%;
        z-index: -1;
        transition: all 400ms ease;
      }
    }
    @include media(992px) {
      display: block;
      width: 200px;
      margin: 0 auto;
    }
    @include media(576px) {
      font-size: 15px;
    }
  }
  &__offer-foto {
    width: 45%;
    justify-content: flex-end;
    align-items: flex-start;
    img {
      width: 100%;
      height: auto;
      @include media(992px) {
        display: none;
      }
    }
  }
  /*offer-End*/
}

.header-portolio {
  background: $bgcolor;
  &__wrapp-title {
    text-align: center;
    padding-bottom: 100px;
  }
  &__title {
    text-transform: none;
    span {
      color: $mainColor;
    }
  }
  &__text {
    margin-top: 20px;
    opacity: 0.8;
    font-weight: 300;
    span {
      color: red;
    }
  }
}

/*header*/
.header {
  position: relative;
  height: 100vh;
  background: transparent;
  z-index: 2;
  overflow-y: hidden;

  /*animateTypeName-Start*/
  &__wrappoffer {
    justify-content: center;
    @include media(576px) {
      height: 26px;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -265px;
    @include media(992px) {
      margin-left: -212px;
      margin-top: -35px;
    }
    @include media(768px) {
      margin-left: -159.22px;
      margin-top: -33px;
    }
    @include media(576px) {
      margin-left: -100.85px;
      margin-top: -33px;
    }
  }

  &__name h1 {
    font-family: $font;
    font-size: 49px;
    text-align: center;
    width: 100%;
    color: #c8c8c8;
    @include media(992px) {
      font-size: 39px;
    }
    @include media(768px) {
      font-size: 29px;
    }
    @include media(576px) {
      font-size: 18px;
    }
  }

  &__name h2 {
    font-family: $font;
    font-size: 29px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    color: $mainColor;
    @include media(992px) {
      font-size: 25px;
    }
    @include media(768px) {
      font-size: 21px;
    }
    @include media(576px) {
      font-size: 15px;
    }
  }
  &__cursor {
    line-height: 37px;
    font-size: 41px;
    color: #fff;
    @include media(992px) {
      line-height: 30px;
      font-size: 33px;
    }
    @include media(768px) {
      line-height: 22px;
      font-size: 24px;
    }
    @include media(576px) {
      line-height: 13px;
      font-size: 16px;
    }
  }

  &__cursorhover {
    visibility: hidden;
  }

  &__cursor2 {
    visibility: hidden;
    @include media(992px) {
      line-height: 26px;
      font-size: 20px;
    }
    @include media(768px) {
      line-height: 21px;
      font-size: 17px;
    }
    @include media(576px) {
      line-height: 12px;
      font-size: 14px;
    }
  }

  &__cursorhover2 {
    visibility: visible;
  }
  /*animateTypeName-End*/

  /*social-links-Start*/
  &__social-links {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -136px;
    @include media(768px) {
      margin-left: -116.5px;
    }
  }

  &__social-links-list {
    width: 272px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    @include media(768px) {
      width: 233px;
    }
  }

  &__social-list-item {
    a {
      display: block;
      transition: all 0.3s ease;
      svg {
        width: 35px;
        height: 35px;
        path {
          fill: $textcolor;
          opacity: 0.6;
        }
      }
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        path {
          opacity: 1;
        }
      }
      img {
        width: 30px;
        height: 30px;
        opacity: 0.6;
        transition: all 0.3s ease;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
  /*social-links-End*/
}


/*menu*/
.menu {
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  /*Responsive-Start*/
  @include media(576px) {
    padding-top: 15px;
  }
  /*Responsive-End*/

  /*logo-Start*/
  &__logo-wrapp {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include media(768px) {
      width: 50px;
      height: 50px;
    }
  }
  &__logo {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }

  &__logo-letters {
    color: $mainColor;
    transition: all 0.5s ease;
    cursor: crosshair;
    &:hover {
      transform: rotate(-35deg);
      transition: all 0.5s ease;
    }
  }
  /*logo-END*/

  /*hamburger-Start*/
  &__hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
      height: 2px;
      background: #c8c8c8;
      margin-top: -1px;
      transition: all 0.5s ease;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 2px;
        background: #c8c8c8;
        margin-top: -1px;
        transition: all 0.5s ease;
      }
      &::before {
        transform: translateY(-8px);
        width: 20px;
      }
      &::after {
        transform: translateY(8px);
        width: 40px;
      }
    }
    &:hover span {
      width: 40px;
      transition: all 0.5s ease;
    }
    &:hover span {
      &::before {
        width: 40px;
        transition: all 0.5s ease;
      }
    }
  }
  /*hamburger-End*/
}

/*Open-burger*/
.burger-menu {
  position: absolute;
  padding-top: 50px;
  background: #020202;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: -200vh;
  transition: all 0.5s ease-out;
  @include media(768px) {
    padding-top: 25px;
  }

  &.oppened {
    top: 0;
    transition: all 0.5s ease-out;
  }

  /*logo-Start*/
  &__logo {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }

  &__logo-wrapp {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include media(768px) {
      width: 50px;
      height: 50px;
    }
  }

  &__logo-letters {
    color: $mainColor;
    transition: all 0.5s ease;
    cursor: crosshair;
    &:hover {
      transform: rotate(-35deg);
      transition: all 0.5s ease;
    }
  }
  /*logo-End*/

  /*burger-Start*/
  &__close {
    width: 50px;
    height: 50px;
    position: relative;
    color: #c8c8c8;
    font-size: 30px;
    transition: all 0.5s ease;
    span {
      width: 40px;
      height: 0;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 3px;
        background: #c8c8c8;
        margin-top: -1px;
        transition: all 0.5s ease;
        @include media(768px) {
          width: 30px;
        }
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &:hover span {
      &::before,
      &::after {
        transform: rotate(-360deg);
      }
    }
    &:hover {
      color: #fff;
      transition: all 0.5s ease;
    }
  }
  /*burger-End*/

  /*menuList-Start*/
  &__inner-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
  }

  &__menu-list {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }

  &__link {
    color: #c8c8c8;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
  }

  &__link:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
  /*menuList-End*/

  /*Responsive-Start*/

  /*Responsive-End*/
}

.project {
  display: inline-block;
  justify-content: space-between;
  padding: 40px;
  width: 50%;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  // border: $out;
  transition: $time;
  &:hover {
    .project__img,
    .project__text {
      transform: translateY(-70%);
      transition: $time;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__img {
    position: relative;
    height: 80%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  &__date {
    position: absolute;
    bottom: 0;
    padding: 5px;
    border-radius: 0px 0px 0px 10px;
    background: $mainColor;
  }
  &__text {
    margin-top: 40px;
    text-align: center;
    font-size: 28px;
    height: 80%;
    p {
      font-size: 18px;
      text-align: left;
      margin: 40px auto 0 auto;
      text-align: center;
      max-width: 85%;
      line-height: 30px;
      opacity: 0.9;
      letter-spacing: 1px;
    }
  }
}

.skills {
  background: $bgcolor;
  padding-bottom: 100px;
  @include media(992px) {
    padding-bottom: 50px;
  }
  &__title {
    text-align: center;
    margin-bottom: 100px;
    span {
      color: $mainColor;
    }
  }
  &__list {
    justify-content: space-between;
    @include media(992px) {
      align-items: center;
      flex-direction: column;
    }
  }
  &__list-item {
    height: 380px;
    width: 30%;
    padding-top: 30px;
    border-radius: 10px;
    animation: opacity 1.4s ease;
    overflow: hidden;
    &:hover {
      .skills__list-icon {
        box-shadow: 0px 0px 0px 400px #c70039;
      }
    }
    @include media(992px) {
      width: 50%;
    }
    @include media(768px) {
      width: 90%;
    }
  }
  &__list-icon {
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 30%;
    background: #c70039;
    box-shadow: 0px 0px 0px 0px #c70039;
    transition: all 0.8s ease;
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: $textcolor;
      }
    }
  }
  &__list-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: none;
  }
  &__list-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
    line-height: 25px;
  }
}

.works {
  background: $bgcolor;
  padding-bottom: 100px;

  &__row {
    display: flex;
    justify-content: space-around;
  }
}
