
/*header*/
.header {
  position: relative;
  height: 100vh;
  background: transparent;
  z-index: 2;
  overflow-y: hidden;

  /*animateTypeName-Start*/
  &__wrappoffer {
    justify-content: center;
  }

  &__name {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -265px;
  }

  &__name h1 {
    font-family: $montserrat;
    font-size: 49px;
    text-align: center;
    width: 100%;
    color: #c8c8c8;
  }

  &__name h2 {
    font-family: $opensans;
    font-size: 29px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    color: $mainColor;
  }
  &__cursor {
    line-height: 37px;
    font-size: 41px;
    color: #fff;
  }

  &__cursorhover {
    visibility: hidden;
  }

  &__cursor2 {
    visibility: hidden;
  }

  &__cursorhover2 {
    visibility: visible;
  }
  /*animateTypeName-End*/

  /*social-links-Start*/
  &__social-links {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -136px;
  }

  &__social-links-list {
    width: 272px;
    margin: 0 auto;
    justify-content: space-around;
  }

  &__social-list-item {
    a {
      img {
        width: 30px;
        height: 30px;
        opacity: 0.6;
        transition: all 0.3s ease;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
  /*social-links-End*/
}

/*menu*/
.menu {
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;

  /*logo-Start*/
  &__logo {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }

  &__logo-wrapp {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__logo-letters {
    color: $mainColor;
    transition: all 0.5s ease;
    cursor: crosshair;
    &:hover {
      transform: rotate(-35deg);
      transition: all 0.5s ease;
    }
  }
  /*logo-END*/

  /*hamburger-Start*/
  &__hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
      height: 2px;
      background: #c8c8c8;
      margin-top: -1px;
      transition: all 0.5s ease;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 2px;
        background: #c8c8c8;
        margin-top: -1px;
        transition: all 0.5s ease;
      }
      &::before {
        transform: translateY(-8px);
        width: 20px;
      }
      &::after {
        transform: translateY(8px);
        width: 40px;
      }
    }
    &:hover span {
      width: 40px;
      transition: all 0.5s ease;
    }
    &:hover span {
      &::before {
        width: 40px;
        transition: all 0.5s ease;
      }
    }
  }
  /*hamburger-End*/
}

/*Open-burger*/
.burger-menu {
  &.oppened {
    top: 0;
    transition: all 0.5s ease-out;
  }

  position: absolute;
  padding-top: 50px;
  background: #020202;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: -200vh;
  transition: all 0.5s ease-out;

  /*logo-Start*/
  &__logo {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }

  &__logo-wrapp {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__logo-letters {
    color: $mainColor;
    transition: all 0.5s ease;
    cursor: crosshair;
    &:hover {
      transform: rotate(-35deg);
      transition: all 0.5s ease;
    }
  }
  /*logo-End*/

  /*burger-Start*/
  &__close {
    width: 50px;
    height: 50px;
    position: relative;
    color: #c8c8c8;
    font-size: 30px;
    transition: all 0.5s ease;
    span {
      width: 40px;
      height: 0;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 3px;
        background: #c8c8c8;
        margin-top: -1px;
        transition: all 0.5s ease;
      }
      &::before {
        width: 40px;
        transform: rotate(45deg);
      }
      &::after {
        width: 40px;
        transform: rotate(-45deg);
      }
    }
    &:hover span {
      &::before,
      &::after {
        transform: rotate(-360deg);
      }
    }
    &:hover {
      color: #fff;
      transition: all 0.5s ease;
    }
  }
  /*burger-End*/

  /*menuList-Start*/
  &__inner-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
  }

  &__menu-list {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }

  &__link {
    color: #c8c8c8;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
  }

  &__link:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
  /*menuList-End*/
}
