@import 'all-libs';
@import 'all-tools';
@import 'all-blocks';
@import 'all-temp';
@import 'all-pages';

/******************************************/
/******************ABOUT/******************/
/******************************************/
.header-about {
  background: #101010;
  padding-bottom: 50px;
  height: 100%;
}
.title-about {
  text-align: center;
  font-weight: 700;
  font-family: 'Museo Sans Cyrl';
}
.title-about span {
  color: $mainColor;
}
.title-about-text {
  text-align: center;
  font-family: 'Museo Sans Cyrl';
  font-weight: 100;
}
.title-about-text span {
  color: #a20916;
}
.wrapper-offer {
  margin-top: 100px;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.offer {
  padding: 40px;
  width: 55%;
}
.offer-title {
  font-size: 35px;
  text-transform: none;
  max-width: 450px;
  margin-bottom: 25px;
}
.offer-title span {
  color: $mainColor;
}
.offer-text {
  font-size: 18px;
  color: #c8c8c8;
  opacity: 0.8;
  max-width: 450px;
  margin-bottom: 35px;
}

.offer-btn {
  position: relative;
  display: inline;
  font-size: 20px;
  padding: 10px 20px;
  width: 50%;
  border: 3px solid $mainColor;
  border-radius: 4px;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(248, 248, 248, 0.2);
  z-index: 1;
  text-align: center;
}
.offer-btn:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 400ms ease;
}
.offer-btn:hover {
  color: #c8c8c8;
  box-shadow: none;
}
.offer-btn:hover:before {
  width: 100%;
  background: $mainColor;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 400ms ease;
}
.offer-foto {
  width: 45%;
  justify-content: flex-end;
  align-items: flex-start;
}

.offer-foto img {
  width: 100%;
  height: auto;
  /* width: 576px;
  height: 384px; */
  /* margin-top: -40px; */
}

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  /* .container {
    max-width: 940px;
  } */
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  /* .container {
    max-width: 700px;
  } */

  /******************ABOUT/******************/
  .wrapper-offer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer {
    width: 100%;
    padding: 0px;
  }
  .offer-foto img {
    display: none;
  }
  .offer-title {
    margin: 0 auto 25px auto;
    text-align: center;
  }
  .offer-text {
    margin: 0 auto 35px auto;
    text-align: center;
  }
  .offer-btn {
    display: block;
    width: 186px;
    margin: 0 auto;
  }
  /******************ABOUT-END******************/
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  /* .container {
    max-width: 520px;
  } */
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  /* .container {
    width: 90%;
  } */

  /******************ABOUT******************/
  .title-about {
    margin-top: 50px;
    font-size: 40px;
  }
  .wrapper-offer {
    margin-top: 50px;
  }
  .offer-title {
    font-size: 30px;
  }
  .offer-text {
    font-size: 15px;
  }
  .offer-btn {
    font-size: 15px;
  }
  /******************ABOUT-END******************/
}
