.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $bgcolor;
  &__link {
    display: block;
    text-align: center;
    font-size: 15px;
    opacity: $opacity;
    &:hover {
      opacity: 1;
    }
  }
}
