.generator {
  background: $bgcolor;
  padding-top: 50px;
  height: 100%;
  &__title {
    text-align: center;
  }
  &__wrapper {
    width: 50%;
    height: 50%;
    margin: 50px auto 0;
  }
  &__top,
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__middle {
    display: flex;
    justify-content: center;
  }
  &__cube {
    width: 200px;
    height: 200px;
    background-color: #0075ff;
  }
}

.total-result {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#btn {
  margin-right: 10px;
}

.btn-viewcode {
  width: 150px;
  height: 25px;
  background: red;
  border: 1px solid black;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin: 0px auto 50px auto;
  cursor: pointer;
}

.resultcode {
  width: 250px;
  height: 50px;
  padding: 5px;
  border: 1px solid black;
  margin: 0 auto;
}

.samecode {
  display: none;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}
