.header-portolio {
  background: $bgcolor;
  &__wrapp-title {
    text-align: center;
    padding-bottom: 100px;
  }
  &__title {
    text-transform: none;
    span {
      color: $mainColor;
    }
  }
  &__text {
    margin-top: 20px;
    opacity: $opacity;
    font-weight: 300;
    span {
      color: red;
    }
  }
}
