/*header*/
.header {
  position: relative;
  min-height: 100vh;
  background: transparent;
  z-index: 2;
  overflow-y: hidden;

  /*animateTypeName-Start*/
  &__wrappoffer {
    justify-content: center;
    @include media(576px) {
      height: 26px;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -265px;
    @include media(992px) {
      margin-left: -212px;
      margin-top: -35px;
    }
    @include media(768px) {
      margin-left: -159.22px;
      margin-top: -33px;
    }
    @include media(576px) {
      margin-left: -100.85px;
      margin-top: -33px;
    }
  }

  &__name h1 {
    font-family: $font;
    font-size: 49px;
    text-align: center;
    width: 100%;
    color: #c8c8c8;
    @include media(992px) {
      font-size: 39px;
    }
    @include media(768px) {
      font-size: 29px;
    }
    @include media(576px) {
      font-size: 18px;
    }
  }

  &__name h2 {
    font-family: $font;
    font-size: 29px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    color: $mainColor;
    @include media(992px) {
      font-size: 25px;
    }
    @include media(768px) {
      font-size: 21px;
    }
    @include media(576px) {
      font-size: 15px;
    }
  }
  &__cursor {
    line-height: 37px;
    font-size: 41px;
    color: #fff;
    @include media(992px) {
      line-height: 30px;
      font-size: 33px;
    }
    @include media(768px) {
      line-height: 22px;
      font-size: 24px;
    }
    @include media(576px) {
      line-height: 13px;
      font-size: 16px;
    }
  }

  &__cursorhover {
    visibility: hidden;
  }

  &__cursor2 {
    visibility: hidden;
    @include media(992px) {
      line-height: 26px;
      font-size: 20px;
    }
    @include media(768px) {
      line-height: 21px;
      font-size: 17px;
    }
    @include media(576px) {
      line-height: 12px;
      font-size: 14px;
    }
  }

  &__cursorhover2 {
    visibility: visible;
  }
  /*animateTypeName-End*/

  /*social-links-Start*/
  &__social-links {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -136px;
    @include media(768px) {
      margin-left: -116.5px;
    }
  }

  &__social-links-list {
    width: 272px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    @include media(768px) {
      width: 233px;
    }
  }

  &__social-list-item {
    a {
      display: block;
      transition: all 0.3s ease;
      svg {
        width: 35px;
        height: 35px;
        path {
          fill: $textcolor;
          opacity: 0.6;
        }
      }
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        path {
          opacity: 1;
        }
      }
      img {
        width: 30px;
        height: 30px;
        opacity: 0.6;
        transition: all 0.3s ease;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
  /*social-links-End*/
}
