.javascript {
  background: $bgcolor;
  padding-bottom: 50px;
  &__title-wrapp {
    text-align: center;
  }
  &__title {
    text-transform: none;
    margin-bottom: 20px;
    span {
      color: $mainColor;
    }
  }
  &__text {
    opacity: $opacity;
    font-size: 18px;
    margin-bottom: 100px;
  }
  &__cards {
    position: relative;
    max-width: 962px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include media(992px) {
      flex-direction: column;
      align-items: center;
    }
    &::after {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid $textcolor;
      opacity: $opacity;
    }
  }
  &__card-wrapp {
    max-width: 355px;
    height: 357px;
    margin-left: 45px;
    @include media(992px) {
      z-index: 3;
      box-shadow: 0px 0px 10px 10px #000;
    }
    &:nth-child(odd) {
      margin: 0px 45px 45px 86px;
      @include media(992px) {
        margin: 0;
      }
      & .card__head:before {
        left: 110.4%;
      }
      & .card__head:after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
        @include media(992px) {
          display: none;
        }
      }
    }
    &:nth-child(even) {
      margin: 180px 45px 0px 36px;
      @include media(992px) {
        margin: 70px 0;
      }
      & .card__head:before {
        right: 110%;
      }
      & .card__head:after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
        @include media(992px) {
          display: none;
        }
      }
    }
    &:first-child {
      margin-top: 45px;
    }
    &:last-child {
      margin-bottom: 45px;
    }
  }
}
