/*Open-burger*/
.burger-menu {
  position: absolute;
  padding-top: 50px;
  background: #020202;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: -200vh;
  transition: all 0.5s ease-out;
  @include media(768px) {
    padding-top: 25px;
  }

  &.oppened {
    top: 0;
    transition: all 0.5s ease-out;
  }

  /*logo-Start*/
  &__logo {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }

  &__logo-wrapp {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include media(768px) {
      width: 50px;
      height: 50px;
    }
  }

  &__logo-letters {
    color: $mainColor;
    transition: all 0.5s ease;
    cursor: crosshair;
    &:hover {
      transform: rotate(-35deg);
      transition: all 0.5s ease;
    }
  }
  /*logo-End*/

  /*burger-Start*/
  &__close {
    width: 50px;
    height: 50px;
    position: relative;
    color: #c8c8c8;
    font-size: 30px;
    transition: all 0.5s ease;
    span {
      width: 40px;
      height: 0;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 3px;
        background: #c8c8c8;
        margin-top: -1px;
        transition: all 0.5s ease;
        @include media(768px) {
          width: 30px;
        }
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &:hover span {
      &::before,
      &::after {
        transform: rotate(-360deg);
      }
    }
    &:hover {
      color: #fff;
      transition: all 0.5s ease;
    }
  }
  /*burger-End*/

  /*menuList-Start*/
  &__inner-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
  }

  &__menu-list {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }

  &__link {
    color: #c8c8c8;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
  }

  &__link:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
  /*menuList-End*/

  /*Responsive-Start*/

  /*Responsive-End*/
}
