.slider {
  background: $bgcolor;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 100%;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__slider-wrapper {
    width: 50%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 7px 3px rgba(196, 196, 196, 1);
  }
  &__slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;

    img {
      width: 100%;
      height: 100%;
    }
    &.slider__active {
      display: block;
    }
  }
  #slider__btn-prev,
  #slider__btn-next {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 50px;
    background: white;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.4;
    }
    svg {
      width: 50px;
      //height: 80px; у него пропорции 50 на 50
      path {
        fill: #c70039;
      }
    }
  }
  #slider__btn-prev {
    left: 0;
    top: 160px;
  }
  #slider__btn-next {
    top: 160px;
    right: 0;
  }
  // &__prev {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background: url(../img/src/prev.svg) center no-repeat;
  // }
  // &__next {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background: url(../img/src/next.svg) center no-repeat;
  // }
  &__dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid black;
      background: rgba(196, 196, 196, 1);
      margin-right: 5px;
      cursor: pointer;
      &.slider__active {
        background: $mainColor;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
