extends ../temp/main
block title 
  title Index

block content
  header#particles-js.header
    include ../blocks/nav
    
    .container
      .menu.d-flex
        #logo.logo
          #logo-wrapp.logo-wrapp-img.d-flex
            span.logo-letters CH
        #hamburger.hamburger.pos-a
          span
      #name.name.pos-a
        h1#stuck frontend developer
        h2#myname Vladislav Cheremisin
      .social-links
        ul.social-links__list.d-flex
          li.social-links__item
            a.social-links__link(target='_blank' href='https://t.me/che_vladislav')
              img.social-links__img(src='img/src/mail.png' alt='')
          li.social-links__item
            a.social-links__link(target='_blank' href='https://t.me/che_vladislav')
              img.social-links__img(src='img/src/vk.png' alt='')
          li.social-links__item
            a.social-links__link(target='_blank' href='https://t.me/che_vladislav')
              img.social-links__img(src='img/src/facebook.png' alt='')
          li.social-links__item
            a.social-links__link(target='_blank' href='https://t.me/che_vladislav')
              img.social-links__img(src='img/src/instagram.png' alt='')
    