.generator
  .container
    h1.generator__title CSS GENERATOR
    .generator__wrapper
      .generator__top
        .generator__top-left-range
          input#generator__tlr.generator__input(type='range' min='0' max='100' value='0')
          #generator__result-tlr.generator__result
            | 0
        .generator__top-right-range
          input#generator__trr.generator__input(type='range' min='0' max='100' value='0')
          #generator__result-trr.generator__result
            | 0
      .generator__middle
        #generator__cube.generator__cube
      .generator__bottom
        .generator__bottom-left-range
          input#generator__blr.generator__input(type='range' min='0' max='100' value='0')
          #generator__result-blr.generator__result
            | 0
        .generator__bottom-right-range
          input#generator__brr.generator__input(type='range' min='0' max='100' value='0')
          #generator__result-brr.generator__result
            | 0
      #generator__btn-viewcode.generator__btn-viewcode
        | Показать код
      #generator__resultcode.generator__resultcode
        #generator__samecode.generator__samecode
