header#header-about.header-about
  include ../blocks/open-burger
  .container
    include ../blocks/menu
    .header-about__wrapper-title
      h1.header-about__title Обо 
        span Мне
      p.header-about__text Узнать обо 
        span мне...
    .header-about__wrapper-offer.d-flex
      .header-about__offer
        h2.header-about__offer-title Здавствуйте! 
          | Меня зовут Владислав и я... 
          span Веб-разработчик
        p.header-about__offer-text Мои практические навыки веб-разработки и создания реальных сайтов, будут полезны вашему проекту. Мне нравится развиваться и получать новые знания и опыт.
        a.header-about__offer-btn(href='#') Узнать больше
      .header-about__offer-foto.d-flex
        img(src='img/src/avatar.png' alt='')