header#particles-js.header
  include ../blocks/open-burger
  
  .container
    include ../blocks/menu
    #name.header__name.pos-a
      h1#stuck frontend developer
      h2#myname Vladislav Cheremisin
    .header__social-links
      ul.header__social-links-list.d-flex
        li.header__social-list-item
          a(target='_blank' href='https://t.me/che_vladislav')
            img(src='img/src/mail.png' alt='')
        li.header__social-list-item
          a(target='_blank' href='https://t.me/che_vladislav')
            img(src='img/src/vk.png' alt='')
        li.header__social-list-item
          a(target='_blank' href='https://t.me/che_vladislav')
            img(src='img/src/facebook.png' alt='')
        li.header__social-list-item
          a(target='_blank' href='https://t.me/che_vladislav')
            img(src='img/src/instagram.png' alt='')