header#header-about.header-about
  include ../blocks/open-burger
  .container
    include ../blocks/menu
    .wrapper-title-about
      h1.title-about About 
        span Me
      p.title-about-text Get to Know 
        span me...
    .wrapper-offer.d-flex
      .offer
        h2.offer-title I'm creative 
          span web developer 
          | based in New York , USA
        p.offer-text With 20 years of experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step while working.
        a.offer-btn(href='#') Узнать больше
      .offer-foto.d-flex
        img(src='img/src/avatar.png' alt='')