header#header-portolio.header-portolio
  include ../blocks/open-burger
  .container
    include ../blocks/menu
    div.header-portolio__wrapp-title
      h1.header-portolio__title 
        span Мое 
        | Портфолио 
      p.header-portolio__text Последние 
        span работы

    