section.javascript 
  .container 
    .javascript__title-wrapp
      h2.javascript__title Практика Java
        span Script
      p.javascript__text Практика своими руками
    .javascript__cards  
      .javascript__card-wrapp
        +card('01','Accordeon', 'При клике на пункт меню проверяем наличие класса "active" и сразу же убираем его у всех пунктов, добавляя класс тому, на который кликнули.', 'page-accordeon.html', '../img/src/accordeon.png')
      .javascript__card-wrapp
        +card('02','Title 02', '02 Lorem ipsum dolor sit amet consectetur, adipisicing elit Qui architecto reiciendis cumque in nam nihil.', '../img/src/accordeon.png')
      .javascript__card-wrapp
        +card('03','CSS Generator', 'Получаем все input и создаем для них переменные. Берем значения input и связываем их со значениями радиуса куба. При изменении значений радиус меняется.', 'page-generator.html', '../img/src/generator.png')
      .javascript__card-wrapp
        +card('04','Title 04', '04 Lorem ipsum dolor sit amet consectetur, adipisicing elit Qui architecto reiciendis cumque in nam nihil.', 'http://placehold.it/1000x500')
      .javascript__card-wrapp
        +card('05','Title 05', '05 Lorem ipsum dolor sit amet consectetur, adipisicing elit Qui architecto reiciendis cumque in nam nihil.', 'http://placehold.it/1000x500')
      .javascript__card-wrapp
        +card('06','Title 06', '06 Lorem ipsum dolor sit amet consectetur, adipisicing elit Qui architecto reiciendis cumque in nam nihil.', 'http://placehold.it/1000x500')
      .javascript__card-wrapp
        +card('07','Title 07', '07 Lorem ipsum dolor sit amet consectetur, adipisicing elit Qui architecto reiciendis cumque in nam nihil.', 'http://placehold.it/1000x500')

