.map
  .container
    h1.map__title MAP
    .map__wrapp
      .map__scalle
        .map__scalle-minuse
          | -
        .map__inner-scalle
          .map__inner-mini-scalle
            .map__bg-scalle
        .map__scalle-plus
          | +
      .map__mini-map
        img.map-second(src='img/src/map-img.jpg' alt='')