.menu.d-flex
  #logo.menu__logo
    #logo-wrapp.menu__logo-wrapp.d-flex
      a.menu__logo-letters(href="index.html") CH 
      //- span.menu__logo-letters CH
  #hamburger.menu__hamburger.pos-a
    span