#burger-menu.burger-menu
  .container
    .burger-menu__inner-wrapp
      #logo.burger-menu__logo
        a.burger-menu__logo-letters(href="index.html") CH 
      #close-burger.burger-menu__close
        span
    ul.burger-menu__menu-list
      li.burger-menu__item
        a.burger-menu__link(href='index.html') Home
      li.burger-menu__item
        a.burger-menu__link(href='about.html') About
      li.burger-menu__item
        a.burger-menu__link(href='portfolio.html') Portfolio