#burger-menu.burger-menu
  .container
    .burger-menu-inner-wrapp
      #logo.menu__logo
        #logo-wrapp.menu__logo-wrapp-img.d-flex
          span.menu__logo-letters CH
      #close-burger.menu__hamburger.close-burger
        span
    ul.menu-list
      li.menu-list__item
        a.menu-list__link(href='index.html') Home
      li.menu-list__item
        a.menu-list__link(href='about.html') About
      li.menu-list__item
        a.menu-list__link(href='#') Portfolio
      li.menu-list__item