extends ../temp/project-temp
block project-img
  img(src="../img/src/PC.png", alt="")
block project-date1
  span.project__date 03.03.2021
block project-date2
  span.project__date 03.03.2022
block project-date3
  span.project__date 03.03.2023

    
