div.project
  a.project__link(href="#")
    div.project__img
      img(src="../img/src/PC.png", alt="")
      span.project__date 03.03.20211
    div.project__text
      h3 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facere iste dolore temporibus, quibusdam inventore, voluptatibus cum modi voluptates cumque vitae laborum corrupti numquam deserunt perspiciatis voluptatem iure, recusandae quod!