.skills
  .container
    h2.skills-title Мои навыки
    ul.skills-list.d-flex
      li.skills-list__item
        img.skills-list__icon(src='#' alt='')
        h3.skills-list__title Lorem ipsum
        p.skills-list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
      li.skills-list__item
        img.skills-list__icon(src='#' alt='')
        h3.skills-list__title Lorem ipsum
        p.skills-list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
      li.skills-list__item
        img.skills-list__icon(src='#' alt='')
        h3.skills-list__title Lorem ipsum
        p.skills-list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
    button TEST