.skills
  .container
    h2.skills__title 
      span Мои 
      | навыки
    ul.skills__list.d-flex
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Lorem ipsum
        p.skills__list-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
      li.skills-list__item
        img.skills-list__icon(src='#' alt='')
        h3.skills-list__title Lorem ipsum
        p.skills-list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
      li.skills-list__item
        img.skills-list__icon(src='#' alt='')
        h3.skills-list__title Lorem ipsum
        p.skills-list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt accusantium
    