.skills
  .container
    h2.skills__title 
      span Мои 
      | навыки
    ul.skills__list.d-flex
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title HTML5
        p.skills__list-text Уверенные знания языка разметки, валидная, кроссбраузерная, адаптивная верстка по макетам для различных браузеров и мобильных устройств.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title CSS
        p.skills__list-text Отзывчивое форматирование, стилизация и оформление визуала страниц сайта с помощью каскадных таблиц стилей.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Методология БЭМ
        p.skills__list-text Компонентный подход к именованию классов дает структурированный, понятный код, исключая наложения css свойств из других блоков.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Flexbox/grid/bootstrap4
        p.skills__list-text Инструменты для быстрого создания креативных, гибких макетов. Во много раз ускорют процесс разработки и адаптации контента веб-страниц.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Хостинг
        p.skills__list-text Навыки выкладки/переноса готового сайта на хостинг. Подключение к серверу через FTP протокол, работа и редактирование кода в онлайн.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title CMS Wordpress
        p.skills__list-text Установка CMS на сервере, интеграция верстки на Wordpress. Создание админ панели, с возможностью редактирования контента сайта.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Препроцессоры CSS
        p.skills__list-text Использование препроцессоров (scss/saas, less) значительно ускоряет работу, за счет гибких возможностей которых нет в css.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title Gulp/PUG
        p.skills__list-text Блочный подход к веб-разработке. В основе лежит разделение верстки на независимые блоки. Блоки используются в разных местах, избегая «Copy-Paste».
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title JQuery
        p.skills__list-text Подключение библиотеки JQuery. Подключение и настройка плагинов, эксклюзивных анимаций и эффектов. Самостоятельное редактирование.
      li.skills__list-item
        div.skills__list-icon
          svg(width='1792' height='1792' viewbox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg')
            path(d='M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z')
        h3.skills__list-title JavaScript
        p.skills__list-text Понимание основ JS (переменные, условия, циклы, функции, массивы, методы, объекты, работа с DOM, стандарт ES6, асинхронность, Promises, Async/Await, практика работы с сервером), умение самостоятельно писать код с полного нуля. Применение знаний в реальных проектах.
     
    