section.skills#skills
  .container
    h2.skills__title 
      span Мои 
      | навыки
    ul.skills__list.d-flex
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-html
        h3.skills__list-title HTML5
        p.skills__list-text Уверенные знания языка разметки, валидная, кросс-браузерная, адаптивная верстка по макетам для различных браузеров и мобильных устройств.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-pug
        h3.skills__list-title PUG
        p.skills__list-text Блочный подход к веб-разработке. В основе лежит разделение верстки на независимые блоки. Блоки используются в разных местах, избегая «Copy-Paste».
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-css
        h3.skills__list-title CSS
        p.skills__list-text Отзывчивое форматирование, стилизация и оформление визуала страниц сайта с помощью каскадных таблиц стилей.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-sass
        h3.skills__list-title Препроцессоры CSS
        p.skills__list-text Использование препроцессоров (scss/saas, less) значительно ускоряет работу, за счет гибких возможностей которых нет в css.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-bem
        h3.skills__list-title Методология БЭМ
        p.skills__list-text Компонентный подход к именованию классов дает структурированный, понятный код, исключая наложения css свойств из других блоков.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-flex
        h3.skills__list-title Flexbox, grid, bootstrap4
        p.skills__list-text Инструменты для быстрого создания креативных, гибких макетов. Во много раз ускоряют процесс разработки и адаптации контента веб-страниц.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-js
        h3.skills__list-title JavaScript
        p.skills__list-text Понимание основ JS (переменные, условия, циклы, функции, массивы, методы, объекты, работа с DOM, стандарт ES6, асинхронность, Promises, Async/Await, практика работы с сервером), умение самостоятельно писать код с полного нуля. Применение знаний в реальных проектах.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-jquery
        h3.skills__list-title JQuery
        p.skills__list-text Подключение библиотеки JQuery. Подключение и настройка плагинов, эксклюзивных анимаций и эффектов. Самостоятельное редактирование.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-gulp
        h3.skills__list-title Gulp
        p.skills__list-text Установка и настройка таск-менеджера gulp для автоматизации рутинных задач. Сборка и компиляция блоков кода в один общий файл. Автоматическая сборка конечной версии проекта.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-wordpress
        h3.skills__list-title CMS Wordpress
        p.skills__list-text Установка CMS на сервере, интеграция верстки на Wordpress. Создание админ панели, с возможностью редактирования контента сайта. Подключение плагинов.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-host
        h3.skills__list-title Хостинг
        p.skills__list-text Навыки выкладки/переноса готового сайта на хостинг. Подключение к серверу через FTP протокол, работа и редактирование кода в онлайн.
      li.skills__list-item
        div.skills__list-icon
          include ../svg/svg-email
        h3.skills__list-title Верстка Email писем
        p.skills__list-text Понимание CSS свойств, поддерживаемых почтовыми клиентами, табличная верстка, инлайновые стили, использование адаптивного email-фреймворка: Foundation for Emails.
      
      
      
      
     
    