.slider
  .container
    h1.slider__title Slider
    .slider__slider-wrapper
      .slider__slide.slider__active(data-slide='1')
        img(src='../img/src/summer.jpg' alt='')
      .slider__slide(data-slide='2')
        img(src='../img/src/winter.jpg' alt='')
      .slider__slide(data-slide='3')
        img(src='../img/src/outumn.jpg' alt='')
      #slider__btn-prev
        svg(viewBox='396 396 1192 1192' xmlns='http://www.w3.org/2000/svg')
          path(d='M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z')
      #slider__btn-next
        svg(viewBox='150 350 1192 1192' xmlns='http://www.w3.org/2000/svg')
          path(d='M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z') 
    #slider__dots-wrapper.slider__dots-wrapper
      span.dot.slider__active(data-dot='1')
      span.dot(data-dot='2')
      span.dot(data-dot='3')
      
