//BEGIN title
.title(data-anch_s="title")
  section.wrap
    h2 Lorem ipsum dolor123123
  
    .title_main
      h3.title_titl Испытай будущее прямо сейчас!
      p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
      .title_links
        a.gb-butt.gbpop(href="#") Записаться на игру
        a.gb-butt.__grey(href="#") Смотреть видеоsdf
        
    .title_main
      h3.title_titl Испытай будущее прямо сейчас!
      p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
      .title_links
        a.gb-butt.gbpop(href="#") Записаться на игруфыва
        a.gb-butt.__grey(href="#") Смотреть видео
  //END title