div.works
  div.works__row
    +project('../img/src/PC.png', '03.03.2021', 'Lorem ipsum 1', '1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
    +project('../img/src/avatar.png', '03.03.2022', 'Lorem ipsum 2', '2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
div.works
  div.works__row
    +project('../img/src/electro.png', '03.03.2023', 'Lorem ipsum 3', '3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
  