section.works  
  div.container
    div.works__row
        +project('../img/src/portfolio.png', '03.03.2021', 'Lorem ipsum 1', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
        +project('../img/src/search-auto.png', '03.03.2021', 'Lorem ipsum 2', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
      
    div.works__row 
      +project('../img/src/electro.png', '03.03.2021', 'Lorem ipsum 3', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
      +project('../img/src/garage.png', '03.03.2021', 'Lorem ipsum 4', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
    div.works__row
      +project('../img/src/vt.png', '03.03.2021', 'Lorem ipsum 5', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')
      +project('../img/src/lab.png', '03.03.2021', 'Lorem ipsum б', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui architecto reiciendis cumque in nam nihil dolorum error harum voluptas? Autem deleniti odio nam voluptates atque non? Quo cum officia minus.')