include ../tools/_var
include ../tools/_mixin

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  block title
  
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Дело которым я живу')
  meta(name='keywords' content='дело которым я живу, мое портфолио, мои навыки, верстка, верстка frontend, мои навыки, мои работы')
  // Favicon
  //
    <link rel="icon" href="img/waterfall.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="img/ilustration.ico" type="image/x-icon" />
  // OG Tags
  meta(property='og:title' content='Дело которым я живу')
  meta(property='og:description' content='Дело которым я живу, 75 реализованных проектов, 154 положительных отзыва, о заслугах, 8 лет опыта, мои контакты, не стесняйтесь пишите')
  meta(property='og:type' content='article')
  meta(property='og:image' content='#')
  meta(property='og:site_name' content='Мое портфолио')
  // adaptability
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Fonts
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;800&display=swap&subset=cyrillic" rel="stylesheet")
  // CSS styles
  block link
    link(rel='stylesheet' href='css/main.css')
body
  block content

  block scripts
    script(src='js/main.js')
