include ../tools/_var
include ../tools/_mixin

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  block title
  
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Portfolio frontend developer')
  meta(name='keywords' content='portfolio, frontend, developer, web, web-developer, верстка, создание сайта, разработчик сайтов.')
  // Favicon
  <link rel="icon" href="img/src/favicon.ico" type="image/x-icon">
  // OG Tags
  meta(property='og:title' content='Portfolio frontend developer')
  meta(property='og:description' content='portfolio, frontend, developer, web, web-developer, верстка, создание сайта, разработчик сайтов.')
  meta(property='og:type' content='article')
  meta(property='og:image' content='#')
  meta(property='og:site_name' content='Portfolio frontend developer')
  // adaptability
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap' rel='stylesheet')


  // CSS styles
  block link
    link(rel='stylesheet' href='css/main.css')
body
  block content

  block scripts
    script(src='js/main.js')
