div.works
  div.works__row
    div.project
      a.project__link(href="#")
        div.project__img
          block project-img 
            
          block project-date1
            
        div.project__text
          h3 Lorem ipsum dolor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facere iste dolore temporibus, quibusdam inventore, voluptatibus cum modi voluptates cumque vitae laborum corrupti numquam deserunt perspiciatis voluptatem iure, recusandae quod!
    div.project
      a.project__link(href="#")
        div.project__img
          block project-img 
            
          block project-date2
            
        div.project__text
          h3 Lorem ipsum dolor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facere iste dolore temporibus, quibusdam inventore, voluptatibus cum modi voluptates cumque vitae laborum corrupti numquam deserunt perspiciatis voluptatem iure, recusandae quod!
div.works
  div.works__row
    div.project
      a.project__link(href="#")
        div.project__img
          block project-img 
            
          block project-date3
            
        div.project__text
          h3 Lorem ipsum dolor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facere iste dolore temporibus, quibusdam inventore, voluptatibus cum modi voluptates cumque vitae laborum corrupti numquam deserunt perspiciatis voluptatem iure, recusandae quod!