$out: 1px solid red !important;
$time: 0.5s ease-in-out;

/* ------ Fonts ------ */
$montserrat: 'Raleway', sans-serif;
$opensans: 'Raleway', sans-serif;

/* ------ Colors ------ */
$mainColor: #c70039;
$textcolor: whitesmoke;
$bgcolor: #101010;
