$out: 1px solid red !important;
$time: 0.5s ease-in-out;

/* ------ Fonts ------ */
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

/* ------ Colors ------ */
$mainColor: #c70039;
$whitesmoke: whitesmoke;
