$out: 1px solid red !important;
$time: 0.5s ease-in-out;

/* ------ Fonts ------ */
$font: 'Open Sans', sans-serif;

/* ------ Colors ------ */
$mainColor: #c70039;
$textcolor: whitesmoke;
$bgcolor: #101010;

/* ------ Opacity ------ */
$opacity: 0.8;
